*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   font-size:16px;
}

img,
iframe {
max-width: 100%;
height: auto;
/* so that aspect ratio is kept even if height is declared in markup */ 
border: 0;
/* this stops a border if the image is inside a link */
}

/* This is a CSS comment.
Always comment your work to explain what you're doing */ 
body {
font-family: "Montserrat", sans-serif;
}

/*
background color defaults
Note that HTML and CSS use American spelling (color not colour). */
body {
      background-color: white;
     }
header {
       background-color: white;
       }
/* Note that if we want a number of different elements to have the same style, we just comma separate them. */
header, footer {
               text-align: center;
               }

/* TYPOGRAPHY*/
h1 {
    font-size:50px;
    color: black; 
    text-transform: uppercase;
   } 
.montserrat-uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1,h2,p,li {
            padding-bottom: 1em; 
           }


.item {
       background-color: white;
       padding:1%;
       margin:1%; 
       margin-bottom: 20px; 
       margin-top: 20px; 
       border-radius:10px;
}
/* let's bring the width in a little */
/* check it out - we're responsive without even trying! */ 
main {
/* There's rarely any time you should set an explicit width. Always use max-width wherever possible. */
     max-width: 1000px;
/* Change the above to width: 1000px and see what happens with responsive */
     margin-left: auto;
     margin-right: auto; 
      }

/* let's talk about nesting */ 
.item li {
          margin-left: 25px;
}
blockquote {

font-style: italic;
}


nav {
text-align: center;
}
nav li {
display: inline-block;
}
/* nav li a, or nav a ?? */ nav a {
background: #E8A1C2; 
color: black;
padding: 5px; 
text-decoration: none; 
border-radius: 5px;
}
nav a:hover {
background: #E8A1C2;
}
body {
background-color: #E8A1C2;
background-image: url(BG.jpg); 
background-repeat: no-repeat; 
background-size: cover;
}

